# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Mircea\ASE\DOCUMENTE\An II\Semestrul II\Practica de secialitate\Endava\E_Repository\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
